/* base styles */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    margin-bottom: var(--line-height);
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%; 
    background-color: var(--background-color);
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height-unitless); 
}

main, aside, footer {
    margin: 0 var(--left-margin) 0 var(--left-margin);
    padding: 0 calc( var(--line-height) / 2);
}

footer { padding-top: calc( var(--line-height) * 1); }

aside.toc { padding-bottom: calc( var(--line-height) * 1); }

/* this accounts for 16% offset above */
@media only screen and (max-width: 1200px) {
    header, main, aside, footer { margin-left: auto; }
}

/* if this is overridden, styles will have to be duplicated to remain in effect */ 
@media only screen and (max-width: 800px) {
    html,body { font-size: var(--mobile-font-size); }
}

.homelink { font-weight: bold; }

a, 
nav a, 
h1 a, h2 a, h3 a, h4 a {
    color: var(--active-link-color);
}

nav a, .copyright a, 
h1 a, h2 a, h3 a, h4 a {
    text-decoration: none;
}
    
a:hover, nav a:hover {
    text-decoration: underline;
}

a:visited, nav a:visited .copyright a:visited {
    color: var(--active-link-color);
    text-decoration: none;
}

h1, h2, h3, h4 { 
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: lowercase; 
}  

h1 { 
    font-size: 8rem; 
    margin-bottom: calc( var(--line-height) / 4);
}
h2 { 
    font-size: 1.75rem; 
    margin-bottom: calc( var(--line-height) / 4);
    padding-top: calc( var(--line-height) / 2);
}
h3, aside h1 { 
    font-size: 1.25rem;
    padding-top: var(--line-height);
    margin-bottom: calc( var(--line-height) / 2);
}
h4 { 
    font-size: 1rem; 
    font-weight: bold;
}

ul, ol { padding-left: calc( var(--line-height) * 1.5 ) }
ul > li > ul > li, ol > li > ol > li { margin-bottom:  calc( var(--line-height) * 0.5) } 

hr {
    width: 62%;
    margin-left: 0px;
    color: var(--border-color);
}

blockquote {
    max-width: 100%; 
    padding: var(--line-height) calc( var(--line-height) * 2);
    background-color: var(--background-color2);
}

img, table, figure, svg, iframe, video {
    max-width: 100%; 
    vertical-align: middle; 
    border: 0; 
    -ms-interpolation-mode: bicubic;
}
img, table, figure, svg, video { height: auto; }

figure { margin: calc( var(--line-height) * 2) 0}
.cols figure.image { margin: calc( var(--line-height) * 1) 0}
figure.table { padding-bottom: 0; }
figure.image img { margin-bottom: 0; }
figure blockquote, figcaption, figure footer, figure aside, main aside {
    padding: 0 var(--line-height);
    font-style: normal; 
}
figure footer, figure aside, main aside  { padding-top: 0; margin-left: 0 } /* resets style from top level footer */
figure blockquote { padding: var(--line-height); }
figcaption { margin: var(--line-height) 0;  }
figcaption a.origversion { padding-left: calc( var(--line-height) * 0.5); }
figure ul, figure ol { padding-left: calc( var(--line-height) * 1); }
cite { font-style: normal; /* reset of default browser style */  }
.quote-only { margin-bottom: calc( var(--line-height) * 2); }

pre {
    background-color: var(--background-color);
    color: var(--color);
    padding: calc( var(--line-height) * 1);
    border-left: 6px solid var(--border-color);
}
pre, code { white-space: pre-wrap; }

.hero {
    font-size: 4rem; 
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.small, tfoot, 
figcaption, figure.image blockquote, figure footer, figure aside {
    font-size: 0.75rem; 
    vertical-align: top;
}

article .summary a.more-link { display: none; color: var(--color); }

br {
    margin:0;
    padding:0;
}

table { 
    width: 100%;
    margin-top: calc( var(--line-height) * 1); 
    border-collapse: collapse;
}
th { font-weight: bold; }
th, td { 
    line-height: var(--line-height);
    padding: calc( var(--line-height) / 8); 
    text-align: left;
    border: 0;
    border-top: 1px solid var(--border-color); 
    border-bottom: 1px solid var(--border-color); 
} 

/* thead tr, tbody tr:nth-child(even) { background-color: var(--background-color2); } */

dt { font-weight: bold; }
.meta { display: none; }
.summary .content p { display: inline; } 
.more-link { margin-left: calc( var(--line-height) / 2); }
.hidden { display: none !important; }



/* site specific styles */

header {    
    height: 100vh;
    width: 100%;
    background-image: url("../img/background.svg");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
}

header svg#wine-cube-logo { width: var(--max-width); }
header svg#wine-cube-logo g#wine { stroke: var(--background-color); }
header svg#wine-cube-logo g#wine rect { stroke: none; fill: var(--background-color2); }
header svg#wine-cube-logo g#cube { stroke: var(--background-color2); fill: var(--background-color); }
header svg#wine-cube-logo g#cube rect { stroke: none; fill: var(--background-color); }

#subheader, footer { 
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color);
    color: var(--background-color);
    text-align: center;
    line-height: 2;
    padding: 60px 0 36px 0;
} 

#subheader h2 { margin: 0px auto 0px auto; padding: 0px; }

article {
    width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

.coderef { font-style: italic; }

@media only screen and (max-width: 1000px) {
    header svg#wine-cube-logo, article { width: 84%; }
}

